@page "/admin/grant/{badgeId}"
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Components.Forms
@inject IWebHostEnvironment Environment
@inject NavigationManager NavigationManager
@inject LocalDbService LocalDbService
@inject IConfiguration Configuration
@inject BadgeService BadgeService

@layout BadgeFed.Components.Layouts.AdminLayout

@attribute [Authorize]

<section class="section">
    <div class="container">
        <h1 class="title">Grant Badge</h1>

        <form @onsubmit="HandleValidSubmit">
           
             <div class="field">
                <label class="label">Recipient</label>
               
                <p class="help">All grants generate a unique link to accept the grant, independently if the following fields are provided.</p>
                
                 <div class="mt-3">
                    <label class="label">Fediverse Profile URL (optional)</label>
                    <p class="help">If provided, we'll send a notification to this fediverse account when a badge is granted. <br />
                        This value <strong>cannot</strong> be modified during badge acceptance.
                    </p>
                    <div class="control">
                        <InputText id="profileUri" @bind-Value="ProfileUri" class="input" placeholder="https://..." />
                    </div>
                </div>

                <div class="mt-3">
                    <label class="label">Name (optional)</label>
                    <p class="help">The user can change the name when accepting the badge and it is public information.</p>
                    <div class="control">
                        <InputText id="name" @bind-Value="Name" class="input" placeholder="John Doe" />
                    </div>
                </div>

                <div class="mt-3">
                    <label class="label">Email (optional)</label>
                    <p class="help">
                        If email is provided, the system will send an email with the link to accept the grant. <br />
                        If provided it will be used to verify recipient. 
                        This value is not of public record. <br />
                    </p>
                    <div class="control">
                        <InputText id="email" @bind-Value="Email" class="input" placeholder="recipient@example.com" />
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">Grant Badge</button>
                </div>
            </div>
           
        </form>
    </div>
</section>

@code {
    [Parameter]
    public string BadgeId { get; set; }

    private BadgeGrant Model = new();

    private string Email { get; set; }

    private string ProfileUri { get; set; }

    private string Name { get; set; }
   
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        if (long.TryParse(BadgeId, out long badgeIdValue))
        {
            Model.BadgeId = badgeIdValue;
        }
        else
        {
            errorMessage = $"Invalid badge ID format: {BadgeId}";
            NavigationManager.NavigateTo("/admin/badges");
        }
    }

    public class BadgeGrant
    {
        public long BadgeId { get; set; }

        public string IssuedTo { get; set; } = "";
    }

    private void HandleValidSubmit()
    {
        var badge = LocalDbService.GetBadgeDefinitionById(Model.BadgeId);

        var recipient = new Recipient() { ProfileUri = ProfileUri, Name = Name, Email = Email };

        var badgeRecord = BadgeService.GetGrantBadgeRecord(badge!, recipient);

        LocalDbService.CreateBadgeRecord(badgeRecord);
        
        NavigationManager.NavigateTo("/admin/grants");
    }
}