@page "/admin/badges"

@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Components.Forms
@inject IWebHostEnvironment Environment
@inject NavigationManager NavigationManager
@inject LocalDbService LocalDbService
@layout BadgeFed.Components.Layouts.AdminLayout

@attribute [Authorize]

    <h1 class="title">Manage Badges</h1>

    <div class="mb-4 has-text-right">
        <a href="/admin/badges/create" class="button is-success">Create New Badge</a>
    </div>

    @if (badges == null)
    {
        <div class="notification is-info">Loading...</div>
    }
    else
    {
        <div class="table-container">
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Issued By</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var badge in badges)
                    {
                        <tr>
                            <td>@badge.Id</td>
                            <td>@badge.Title</td>
                            <td>@badge.IssuedBy</td>
                            <td>
                                <figure class="image is-64x64">
                                    <img src="@badge.Image" alt="Badge Image">
                                </figure>
                            </td>
                            <td>
                                <div class="buttons">
                                    <button class="button is-primary" @onclick="() => GrantBadge(badge)">Grant</button>
                                    <button class="button is-link" @onclick="() => ViewBadge(badge)">View</button>
                                    <button class="button is-danger" @onclick="() => DeleteBadge(badge)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

@code {
    private List<Badge?> badges;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        badges = LocalDbService.GetAllBadgeDefinitions();
    }

    private void GrantBadge(Badge badge)
    {
        NavigationManager.NavigateTo($"/admin/grant/{badge.Id}");
    }

    private void ViewBadge(Badge badge)
    {
        NavigationManager.NavigateTo($"/view/record/{badge.Id}");
    }

    private void DeleteBadge(Badge badge)
    {
        LocalDbService.DeleteBadgeDefinition(badge.Id);
        badges = LocalDbService.GetAllBadgeDefinitions();
    }
}
