@inherits LayoutComponentBase

   <header class="container">
      <hgroup>
        <h1>BadgeFed</h1>
        <p>and Decentralized, Open-Source, and Fediverse-Powered Badge Verification System.</p>
      </hgroup>
      
    </header>

<main class="container"> @Body </main>

<footer class="container">
    <small
      >Built by <a href="https://www.vocalcat.com">VocalCat</a> •
      <a href="https://github.com/tryvocalcat/activitypub-badges"
        >Source code</a
      ></small
    >
</footer>
