@inherits LayoutComponentBase

   <header class="container">
      <hgroup>
        <h1>Pico</h1>
        <p>A pure HTML example, without dependencies.</p>
      </hgroup>
      <nav>
        <ul>
          <li>
            <details class="dropdown">
              <summary role="button" class="secondary">Theme</summary>
              <ul>
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </header>

<main class="container"> @Body </main>

 <footer class="container">
      <small
        >Built with <a href="https://picocss.com">Pico</a> •
        <a href="https://github.com/picocss/examples/blob/master/v2-html/index.html"
          >Source code</a
        ></small
      >
    </footer>
