@inject IHttpContextAccessor HttpContextAccessor
@inject ICustomAssetPathService CustomAssetPathService
<a class="navbar-item navbar-logo" href="@Href">
    <img src="@logoSrc" style="max-width: 400px" />
</a>
@code {
    [Parameter]
    public string Href { get; set; } = "/";

    private string logoSrc = "/logo.h.png";

    protected override void OnInitialized()
    {
        var domain = HttpContextAccessor?.HttpContext?.Request?.Host.Value;
        var env = HttpContextAccessor?.HttpContext?.RequestServices?.GetService(typeof(Microsoft.AspNetCore.Hosting.IWebHostEnvironment)) as Microsoft.AspNetCore.Hosting.IWebHostEnvironment;

        if (string.IsNullOrWhiteSpace(domain))
        {
            domain = "localhost";
        }

        foreach (var ch in System.IO.Path.GetInvalidFileNameChars())
        {
            domain = domain.Replace(ch, '_');
        }

        var logoFileName = $"logo.{domain}.png";
        var logoPath = Path.Combine(CustomAssetPathService.GetImagesPath(), logoFileName);

        logoSrc = System.IO.File.Exists(logoPath) ? CustomAssetPathService.GetImageUrl(logoFileName) : "/logo.h.png";
    }
}