@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authorization;
@using System.Security.Claims;
@inject CurrentUser CurrentUser

@if (CurrentUser == null || !CurrentUser.IsAuthenticated)
{
    <p class="has-text-danger is-size-7">User is not authenticated.</p>
}
else
{
    <div class="user-logout-container">
        <span class="user-greeting">
            <i class="fas fa-user-circle"></i>
            @CurrentUser.Name
        </span>
        <a href="/admin/logout" class="logout-link">
            <i class="fas fa-arrow-right-from-bracket"></i> Logout
        </a>
    </div>
}