@inherits LayoutComponentBase

 <section class="hero is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Welcome to BadgeFed</h1>
            <h2 class="subtitle">An Open, Decentralized, and Fediverse-Powered Badge Verification System</h2>
            
        </div>
    </div>
</section>


<NavMenu />

<!-- Main Content -->
<section class="section">
    @Body
</section>

<footer class="footer">
    <small
      >Built by <a href="https://www.vocalcat.com">VocalCat</a> •
      <a href="https://github.com/tryvocalcat/activitypub-badges"
        >Source code</a
      ></small
    >
</footer>
