@inherits LayoutComponentBase

<header class="navbar is-info has-shadow">
   <div class="hero-body">
        
            <h1 class="title" style="color: white;"> BadgeFed</h1>
            <p class="subtitle" style="color: white;">An Open, Decentralized, and Fediverse-Powered Badge Verification System</p>
        
    </div>

    <div class="navbar-end">
        <a class="navbar-item has-text-light" href="/">Home</a>
        <a class="navbar-item has-text-light" href="https://www.vocalcat.com/badgefed">About</a>
    </div>
</header>

    <!-- Main Content -->
    <section class="section">
       @Body
    </section>

<footer class="footer">
    <small
      >Built by <a href="https://www.vocalcat.com">VocalCat</a> •
      <a href="https://github.com/tryvocalcat/activitypub-badges"
        >Source code</a
      ></small
    >
</footer>
