<nav class="navbar is-dark is-spaced has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="has-text-weight-bold is-size-4">BadgeFed <small class="has-text-grey-light">Admin</small></span>
            </a>
            <span class="navbar-burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/admin/actors/">Actors</a>
                <a class="navbar-item" href="/admin/badges/">Badges</a>
                <a class="navbar-item" href="/admin/grants/">Grants</a>
                <a class="navbar-item" href="https://www.vocalcat.com/badgefed">About</a>
                <Logout />
            </div>
        </div>
    </div>
</nav>


@code {
    
    
    protected override async Task OnInitializedAsync()
    {
        
    }
}
