@inherits LayoutComponentBase

@Body

<footer class="footer is-light has-text-centered py-5">
  <div class="container">
    <p class="is-size-7">
      Built by <a href="https://www.vocalcat.com">VocalCat LLC</a> •
      <a href="https://github.com/tryvocalcat/activitypub-badges">Source code</a>
    </p>
  </div>
</footer>
