@inherits LayoutComponentBase
<NavMenu />

<!-- Main Content -->
<section class="section">
    <div class="container">
        @Body
    </div>
</section>

<footer class="footer has-text-centered has-background-white-ter py-3">
    <div class="container">
        <small>Built by <a href="https://www.vocalcat.com">VocalCat</a> • 
        <a href="https://github.com/tryvocalcat/activitypub-badges">Source code</a></small>
    </div>
</footer>
