@inherits LayoutComponentBase
@using BadgeFed.Components

<div class="app-shell admin-shell">
    <NavMenu />

    <main class="app-main">
        <section class="section admin-section-shell">
            <div class="container admin-container-shell">
                @Body
            </div>
        </section>
    </main>

    <footer class="footer app-footer admin-footer has-text-centered">
        <div class="container">
            <small>Built by <a href="https://www.vocalcat.com">VocalCat</a> •
            <a href="https://github.com/tryvocalcat/activitypub-badges">Source code</a></small>
        </div>
    </footer>
</div>
