@inherits LayoutComponentBase

<div class="app-shell landing-shell">
    <main class="app-main">
        @Body
    </main>

    <footer class="footer app-footer public-footer has-text-centered py-5">
      <div class="container">
        <p class="is-size-7">
          Built by <a href="https://www.vocalcat.com">VocalCat LLC</a> •
          <a href="https://github.com/tryvocalcat/activitypub-badges">Source code</a>
        </p>
      </div>
    </footer>
</div>
