@inherits LayoutComponentBase

@Body

<footer class="footer has-text-centered py-5 bf-footer-minimal">
  <div class="container">
    <p>
      Built by <a href="https://www.vocalcat.com">VocalCat LLC</a> ·
      <a href="https://github.com/tryvocalcat/activitypub-badges">Source code</a>
    </p>
  </div>
</footer>
